body {
    background-color: #9b9696f3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    background-color: #9b9696f3;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    overflow: hidden;
}

.data-container {
    display: flex;
    flex-direction: column;
    background-color: #9b9696f3;
    padding: 30px;
    border-radius: 30px;
}

.title-data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    border-radius: 10px;
    height: 40px;
    width: 250px;
    padding: 5px;
    background-color: #ffffff;
}

.title {
    color: #4E9F3D;
    font-weight: bold;
}

.data-output {
    color: #1E5128;
    font-size: 1.2rem;
}

.button-container {
    display: flex;
    gap: 10px;
}

.text-container {
    max-width: 60%;
}

.letter-divs {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #D8E9A8;
    padding: 10px;
    border-radius: 5px;
}

.correct {
    color: #4CAF50;
}

.false {
    color: #FF5252;
}

.next-character {
    background-color: #a8a5a5;
}

.previous-container {
    display: flex;
    flex-direction: column;
    margin: 20px auto; /* Auto margin for top and bottom to center vertically */
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.9);
    text-align: center;
    width: 35vw;
    align-items: center;
    justify-content: center;
}



.graph-content {
    flex-grow: 1;
    margin-left: 10px;
}


.hide-previous {
    display: none;
}

.input-container {
    margin-top: 20px;
}


#inputArea {
    position: absolute;
    left: -9999px; /* Move the input area away, but keep the functionality */
    opacity: 0;
}

.btn {
    border-radius: 30px;
    width: 125px;
    background-color: #ffffff;
    color: #4CAF50;
}

.btn:hover {
    color:#D8E9A8;
    cursor: pointer;

}

.tips {
    display: flex;
    flex-direction: row;
    color: #fff;
}



.title-and-result {
    display: flex;
    gap: 50px;
}

p {
    padding: 15px;
}


.typing-results-table {
    border-collapse: collapse;
    width: 100%;
}

.typing-results-table th, .typing-results-table td {
    padding: 10px; /* Adjust the padding as needed */
}

.typing-results-table th {
    background-color: #f2f2f2;
}

.typing-results-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.typing-results-table tr:hover {
    background-color: #ddd;
}
